.App {
  text-align: center;
}

.react-component {
  text-align: left;
}

.inner-page {
  text-align: left;
}

.interview {
  text-align: left;
  font-size: calc(5px + 2vmin)
}

.interviewee {
  color: #E3D414;
}

.navigation {
  text-decoration: none;
}

.navigation li {
  padding-right: 15px;
  font-size: 20px;
  display: inline-block;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 40px;
}

.App-link {
  color: #61dafb;
}

.lifecycle-image {
  width: 80%;
  display: block;
  margin: 0 auto;
}

a {
  color: #32CD32;
  text-decoration: none;
}

a:hover {
  color: #61dafb;
  text-decoration: underline;
}

.smaller {
  width: 40%;
}

p::selection {
  background-color: #f7ff00;
  color: #000000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
